*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Папка с настройками IDE
.idea/
# Временные папки Kotlin
.kotlin/
# Исключить все логи и текстовые отчёты в корне
*.txt